<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 m-auto auth-form">
        <div class="d-flex justify-content-center">
          <img class="w-50" src="../../../../../assets/images/logo.svg">
        </div>
        <div>
          <p class="m-0">welcome to PMS</p>
          <h3>Forget Password</h3>

          <form [formGroup]="requestForm" (ngSubmit)="onRequest()">
            <div class=" my-5">
              <label for="email" class="main-color">E-mail</label>
              <div class="input-group bg-transparent mb-3">
                <input type="email" class="form-control  " id="email" placeholder="Email" aria-label="Email"
                formControlName="email" aria-describedby="basic-addon1">
              </div>

            </div>
            <ng-container *ngIf="email?.dirty || email?.touched">
              <p class="text-danger" *ngIf="email?.errors?.['required']">The email is required</p>
              <p class="text-danger" *ngIf="email?.errors?.['email']">
                Email is not valid</p>
            </ng-container>

            <p class="text-danger">{{error}}</p>
            {{error}}
            <button [disabled]="requestForm.invalid" class="button main-btn">Verify</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
