<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 m-auto auth-form">
        <div class="d-flex justify-content-center">
          <img class="w-75" src="../../assets/logo.svg" alt="food logo">
        </div>
        <h5 class="text-color mt-4">Forgot Your Password ?</h5>
        <p class="gray-color">Welcome Back! Please enter your details</p>
        <form [formGroup]="requestForm" (ngSubmit)="onRequest()">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" id="basic-addon1">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </div>
            <input type="email" class="form-control textfield-background" placeholder="Email" aria-label="Email"
              formControlName="email" aria-describedby="basic-addon1">
          </div>
          <ng-container *ngIf="email?.dirty || email?.touched">
            <p class="text-danger" *ngIf="email?.errors?.['required']">The email is required</p>
            <p class="text-danger" *ngIf="email?.errors?.['email']">
              Email is not valid</p>
          </ng-container>
          <div class="d-flex justify-content-end my-3">
            <a routerLink="/auth/register" class="text-end text-decoration-none text-nowrap main-color">Login
              Now</a>
          </div>
          <p class="text-danger">{{error}}</p>
          {{error}}
          <button [disabled]="requestForm.invalid" class="button main-btn">Send Code</button>
        </form>
      </div>
    </div>
  </div>
</section>
