section{
  background: url("../../../../../assets/images/WhatsApp\ Image\ 2024-12-08\ at\ 4.30.14\ PM.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100h;
  display: flex;
  justify-content: center;
  align-items: center;
  .content{
    background-color: #ffffff33;
    border-radius: 20px;
    margin-top: 20px;
    padding: 70px;
    .input-group{
      border-bottom: #ffffffa6 solid 1px !important;
    }
    .form-control{
      border: 0px;
      color: #fff;
      padding-left: 0px ;
      background-color: transparent;
    }
    .form-control::placeholder{
      color: #fff !important;

    }
    .input-group-text{
      background-color: transparent;
      border: 0px;
    }
  }
  .main-color{
    color: #EF9B28;
  }
}
