<section>
  <div class="container  ">
    <div class="row  ">
      <div class="col-md-7   my-5 mx-auto auth-form">
        <div class="d-flex justify-content-center">
          <img class="w-50" src="../../../../../assets/images/logo.svg" alt=" ">
        </div>
        <div class="content">
          <p class="m-0 text-white">welcome to PMS</p>
          <h3 class="main-color fs-3 ">Forgot Your Password ?</h3>
          <form [formGroup]="resetForm" (ngSubmit)="onReset()">
            <div class=" mb-3">
              <label for="email" class="main-color">E-mail</label>
              <div class="input-group bg-transparent mb-3">
                <input readonly type="email" class="form-control  " id="email" placeholder="Email" aria-label="Email"
                formControlName="email" aria-describedby="basic-addon1">
              </div>

            </div>
            <ng-container *ngIf="email?.dirty || email?.touched">
              <p class="text-danger" *ngIf="email?.errors?.['required']">The email is required</p>
              <p class="text-danger" *ngIf="email?.errors?.['email']">
                Email is not valid</p>
            </ng-container>
            <div class=" mb-3">
              <label for="otp" class="main-color">OTP</label>
              <div class="input-group bg-transparent mb-3">
                <input type="text" class="form-control  " id="otp" placeholder="Otp" aria-label="Otp"
                formControlName="seed" aria-describedby="basic-addon1">
              </div>

            </div>
            <ng-container *ngIf="seed?.dirty || seed?.touched">
              <p class="text-danger" *ngIf="seed?.errors?.['required']">The otp is required</p>
            </ng-container>
            <div class="mb-3">
              <label for="password" class="main-color">Password</label>
              <div  class="input-group bg-transparent mb-3">
                <input id="password" [type]="isHide ? 'password' : 'text' "
                class="form-control  " placeholder="Password" aria-label="Password"
                formControlName="password" aria-describedby="basic-addon1">
                <span (click)="(isHide = !isHide)" class="input-group-text" id="basic-addon1"><i class="fa-solid text-white" [class]="isHide ? 'fa-eye-slash' : 'fa-eye' "></i></span>
              </div>
            </div>
            <ng-container *ngIf="password?.dirty || password?.touched">
              <p class="text-danger" *ngIf="password?.errors?.['required']">Password is required</p>
              <p class="text-danger" *ngIf="password?.errors?.['pattern']">
                Password should contain at least 8 characters, one special character,
                one lowercase letter, one uppercase letter, and one digit.
              </p>
            </ng-container>
            <div class="mb-3">
              <label for="confirmPassword" class="main-color">Confirm Password</label>
              <div class="input-group bg-transparent mb-3">
              <input [type]="isHideRePassword ? 'password' : 'text' " #passwordInput type="password" class="form-control" placeholder="Confirm Password" aria-label="confirmPassword" aria-describedby="basic-addon1" formControlName="confirmPassword">
              <span (click)="(isHideRePassword = !isHideRePassword)" class="input-group-text" id="basic-addon1"><i class="fa-solid text-white" [class]="isHideRePassword ? 'fa-eye-slash' : 'fa-eye' "></i></span>
            </div>
              </div>
            <ng-container *ngIf="confirmPassword?.dirty || confirmPassword?.touched">
              <p class="text-danger" *ngIf="confirmPassword?.errors?.['required']">Confirm password is required</p>
              <p class="text-danger"
                *ngIf="resetForm?.errors?.['PasswordNoMatch'] && !(confirmPassword?.errors?.['requird'])">
                Confirm password does not match the password
              </p>
            </ng-container>

            <p class="text-danger">{{error}}</p>
            {{error}}
            <button [disabled]="resetForm.invalid" class="button main-btn">Send Code</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
