@import "src/assets/scss/abstracts/mixins";

  .content{
    background-color: #ffffff33;
    border-radius: 20px;
    margin-top: 20px;
    padding: 70px;
    .input-group{
      border-bottom: #ffffffa6 solid 1px !important;
    }
    .form-control{
      border: 0px;
      color: #fff;
      padding-left: 0px ;
      background-color: transparent;
    }
    .form-control::placeholder{
      color: #fff !important;

    }
    .input-group-text{
      background-color: transparent;
      border: 0px;
    }
  }
  .main-color{
    color: #EF9B28;
  }
section {
  @include login-section;
}
