@mixin login-section {
  background: url('/assets/images/login-background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  @include flex-center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
