<h1 mat-dialog-title [align]="'end'">
  <mat-icon [color]="'warn'" (click)="onNoClick()" class="mat-18">cancel</mat-icon>
</h1>
<div mat-dialog-content>

  <div class="text-center">
    <img src="assets/images/deleteImg.png" alt="" style="width: 140px;">
    <h3>Delete This <span class="main-bg">{{data.text}}</span>  ?</h3>
    <p>are you sure you want to delete this item ? if you are sure just <br> click on delete it</p>
  </div>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-button class="button bg-danger w-25 ms-auto m-2" [mat-dialog-close]="data.id" cdkFocusInitial>Delete</button>
</div>
